$section-title-color: #150101;
$section-background-color: #f2ceda;
$secondary-text-color: #000000;
$section-text-secondary-color: #000000;
$primary-background-color: #f8edf0;
$button-color: #d23166;
$secondary-button-color: #fafafa;
$footer-text-color: #ffffff;
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
