
<section class="section">
    <div class="container">
      <ul class="features">
        <li class="features__item">
          <div class="features__box">
            <svg class="" width="51" heigth="43">
              <use href="../images/features/auto.svg" ></use>
            </svg>
  
          </div>
            <h3 class="features__title">Free Shipping</h3>
            <p class="features__text" >Last Chance! Free shipping on all orders ends today.</p>
        </li>
  
        <li class="features__item">
          <div class="features__box">
            <svg class="" width="32" heigth="42">
              <use href="../images/features/ice-cream.svg ></use>
            </svg>
  
          </div>
            <h3 class="features__title">Quick Packaging</h3>
            <p class="features__text" >Last Chance! Free shipping on all orders ends today.</p>
        </li>
  
        <li class="features__item">
            <div class="features__box">
              <svg class="" width="51" heigth="43">
                <use href="../images/features/cash-back.svg" ></use>
              </svg>
    
            </div>
              <h3 class="features__title">Free Shipping</h3>
              <p class="features__text" >Last Chance! Free shipping on all orders ends today.</p>
          </li>
        <li class="features__item">
            <div class="features__box">
              <svg class="" width="51" heigth="43">
                <use href="../images/features/fast-delivery.svg" ></use>
              </svg>
    
            </div>
              <h3 class="features__title">Free Shipping</h3>
              <p class="features__text" >Last Chance! Free shipping on all orders ends today.</p>
          </li>
  
      </ul>
  
    </div>
  
  </section>
  
  
  
  