<section class="hero">
    <div class="container hero-container">
        <div class="hero__block">
            <h2 class="hero__title">Sweet fun, full of milk.</h2>
            <h1 class="hero__main-title">Feel inside cold with our delicious <span class="hero__main-title--accent">ice-cream.</span></h1>
            <p class="hero__text">Some food has looked so awful that it's looked like something that the dog's brought home, yet after one
                mouthful I've
                been left eating my thoughts, my words.</p>
            <button class="hero__button" type="button" aria-label="Buy now">Buy Now</button>
        </div>
        <img class="hero__image-main" src="./images/hero/herobcg1-597.png" alt="Стакан с морженым" width="597" height="597">
        <img class="hero__image-add" src="./images/hero/herobcg2-860.png" alt="Молоко" width="852" height="548">
    </div>
    </section>