<section class="section-products">
  <div class="container">
    <h2 class="section-products-title">Our Product</h2>
    <ul class="filter">
      <li class="filter-item"><button class="filter-button" type="button">ICE CREAM</button></li>
      <li class="filter-item"><button class="filter-button" type="button">CAYENNE CHOCOLATE</button></li>
      <li class="filter-item"><button class="filter-button" type="button">CAKE BATTER</button></li>
      <li class="filter-item"><button class="filter-button" type="button">CANDY CANE</button></li>
      <li class="filter-item"><button class="filter-button" type="button">PLATTERS</button></li>
      <li class="filter-item"><button class="filter-button" type="button">DESSERT</button></li>
    </ul>
    <ul>
      <li>
        <img src="./images/our product/ourproduct1-580.png" alt="">
        <h3>Brown bread</h3>
        <p>Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.</p>
        <p></p>
        <button type="button">Buy Now</button>
      </li>
      <li>
        <img src="" alt="">
        <h3>Cayenne chocolate</h3>
        <p>Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.</p>
        <p></p>
        <button type="button">Buy Now</button>
      </li>
      <li>
        <img src="" alt="">
        <h3>Sweet corn</h3>
        <p>Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.</p>
        <p></p>
        <button type="button">Buy Now</button>
      </li>
    </ul>
  </div>
</section>