<header class="page-header">
    <div class="container page-header__container">
        <img class="logo" src="./images/logo.jpg" width="79" height="79" alt="логотип">
        <ul class="site-nav">
            <li class="site-nav__item">
                <a class="site-nav__link href="#!">Home</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link href="#!">Product</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link href="#!">Pricing</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link href="#!">Testimonials</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="#!">Contact Us</a>
            </li>
        </ul>
        <button class="button" type="button">
            Buy Now
        </button>
    </div>
</header>