<section class="section">
    <div class="container">
        </div clas="section__name">
            <img src="./images/testimonials/tiotia.jpg" alt="Волосатая голова девушки" width="59" />
            <h1 class="section__title">Adele A. McNeill</h1>
            <h2 class="section__inscription">AMIRICAN</h2>
        </div>
        <div class="section__reviews">
            <svg class="section__icon" width="10.97" height="10">
                <use href="./images/svg/open-quotes.svg"></use>
            </svg>
            <p class="section__text">Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every Bite.Add a joy of best Taste. Foodie Moments.</p>
            <svg class="section__icon" width="10.97" height="10">
                <use href="./images/svg/close-quotes.svg"></use>
            </svg>
        </div>
        <div class="section__photos">
            <svg class="section__icon" width="14" height="14">
                <use href="./images/svg/left-arrow.svg"></use>
            </svg>
            <ul class="section__list">
                <li class="section__item">
                    <img src="./images/testimonials/diadia.jpg" alt="Голова парня" width="35" />
                </li>
                <li class="section__item">
                    <img src="./images/testimonials/tiotia.jpg" alt="Волосатая голова девушки" width="57.81" />
                </li>
                <li class="section__item">
                    <img src="./images/testimonials/tiotia.jpg" alt="Волосатая голова девушки" width="35" />
                </li>
            </ul>
            <svg class="section__icon" width="14" height="14">
                <use href="./images/svg/right-arrow.svg"></use>
            </svg>
        </div>
        <div class="product-photo">
            <img src="./images/ourproduct4-580.png" alt="Три шарика мороженного" width="564" />
        </div>
